* {
    margin: 0;
    padding: 0;
    color: white;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(5, 2, 14);
}

#sky-container {
    position: relative;
}

.poc {
    position: absolute;
}

.north {
    top: -30px;
    left: 300px;
}

.east {
    top: 300px;
    right: -30px;
}

.south {
    bottom: -30px;
    left: 300px;
}

.west {
    top: 300px;
    left: -30px;
}

#sky-canvas {
    border-radius: 50%;
}